In [1]:
# Import libraries for data wrangling, preprocessing and visualization
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

# Importing libraries for building the neural network
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

C:\Users\JLipemelton\AppData\Local\Continuum\anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
data = pd.read_csv("Titanic Data/train.csv")
seed = 5
np.random.seed(seed)

In [3]:
data.head()
#data.info()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Replace categorical variables with numerical values
cleanup_genders = { 'Sex' : { 'female':0, 'male':1 } }
data.replace(cleanup_genders, inplace=True)
data['Sex'].value_counts()

cleanup_nums = { 'Embarked': {'S':1, 'C':2, 'Q':3} }
data.replace(cleanup_nums, inplace=True)
data['Embarked'].value_counts()

1.0    644
2.0    168
3.0     77
Name: Embarked, dtype: int64

In [5]:
# data.drop("Name", axis=1, inplace=True)
# data.drop("Ticket", axis=1, inplace=True)
# data.head()
# count = data.isna().sum()
# final_count = data.isna().sum()
# print("\nCOUNT:\n"+ str(count) + "\nFINAL COUNT\n" + str(final_count) +"\n")

In [6]:
avg = data['Age'].mean()
data['Age'].fillna(avg, inplace=True)
data['Embarked'].fillna(2, inplace=True)

In [7]:
prediction_var = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'Sex']
x = data[prediction_var].values
y = data.Survived.values
length = x.shape[0]
split = .9
point = int(split*length)

x_train = x[:point]
y_train = y[:point]
x_test = x[point:]
y_test = y[point:]
inputCount = len(prediction_var)

In [8]:
model = Sequential()
model.add(Dense(100, input_dim=inputCount, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dropout(.6))
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dropout(.5))
model.add(Dense(100, activation='relu'))
model.add(Dense(100, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
model.fit(x_train, y_train, epochs=1000, batch_size=128, verbose=0)
print("\n\n")
score=model.evaluate(x_test, y_test, batch_size=128)

In [ ]:
predictions = model.predict(x_test)
predictions = [round(float(i)) for i in predictions]

In [ ]:
correct=[]
for i in range(len(predictions)):
    if predictions[i] == y_test[i]:
        correct.append(1)
    else:
        correct.append(0)

#percent predicted correctly
sum(correct)/len(correct)

In [ ]:
#percent right if just guessing 0:
print(data['Survived'].sum())
1-342/890